.menu {
	background: black;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}


li {
	display: inline;
}

.menu__link {
	color: white;
	text-decoration: none;
	padding-left: 20%;
}

img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

p {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}